/* advantages */

    .advantages{padding-top:85px;margin-bottom: 90px;
        .title{font-weight: 700;font-size: 36px;line-height:42px;text-transform: uppercase;padding-bottom: 10px;position: relative;color:#000;margin-bottom: 45px;
            &:before{content: '';display: block;position: absolute;top:100%;left:0;height: 1px;width: 133px;background-color: #000;}
        }
        .list{width: calc((100% - 200px) / 2);
            li{
                span{display: inline-block;vertical-align: middle;}
            }
        }
        .float-left{float: left;}
        .float-right{float:right;}
        .advantages-img{padding: 50px 10px 0 0px;}

        .list-num{width: 66px;font-weight: 700;font-size: 90px;color:#929292;}
        .list-text{width: calc(100% - 75px);font-size: 18px;color:#000;font-weight: 500;line-height: 24px;}

    }

/* /advantages */

/* instructions */

    .instructions{background-image:url(../images/instructions-bg.jpg);background-position: center top;background-repeat: no-repeat;height: 1087px;
        .list-main{display: flex;position: relative;padding-top: 395px;color:#fff;text-transform: uppercase;
            &:before{content: '';display: block;position: absolute;height:calc(100% - 395px);width: 1px;background-color: #faec07;left:50%;margin-left: -1px;}
            .title{font-size: 36px;font-weight: 700;line-height: 42px;margin-bottom: 18px;}
            .slick-dots{left: 0;bottom:-40px;
                li{
                    button{width: 15px;height: 15px;border-radius: 50%;background-color: #fff;
                        &:before{display: none;}
                    }
                    &.slick-active{
                        button{background-color: #faec07;}
                    }
                }
            }
        }
        .list-wrap{width: 50%;position: relative;
            &.dots-list{padding-right: 55px;
                ul{
                    li{
                        &:before{content: '';display: inline-block;width: 5px;height: 5px;border-radius: 50%;background-color: #faec07;margin-right: 5px;vertical-align: middle;margin-top: -5px;}
                    }
                }
            }
            &.num-lists{padding-left: 70px;
                span{color:#faec07;margin-right: 5px;}
            }
            ul{
                li{font-size: 12px;font-weight: 500;line-height: 40px;letter-spacing: 0.7px;}
            }
        }
    }

/* /instructions */