/* advantages */

    .advantages{padding-top:85px;
        .title{font-weight: 700;font-size: 36px;text-transform: uppercase;padding-bottom: 10px;position: relative;color:#000;margin-bottom: 45px;
            &:before{content: '';display: block;position: absolute;top:100%;left:0;height: 1px;width: 133px;background-color: #000;}
        }
        .list{width: calc((100% - 200px) / 2);}
        .float-left{float: left;}
        .float-right{float:right;}
        .advantages-img{padding: 0 5px;}


    }

/* /advantages */