/*header and top block*/
.top-main{background: url(../images/asphalt-bg.jpg) top left repeat #2b2c2f;min-height: 912px;position: relative;overflow: hidden;
    &.active{
        &:after, &:before{background-color: rgba(0,0,0, .0);}
        header>.mbox:before{background-color: rgba(0,0,0, .90);z-index: 9;content: '';top: 0;left: 50%;width: 5000px;height: 1050px;position: absolute;transition:all ease .2s;transform: translateX(-50%);transition:all ease-out .3s;}
        .top-block{z-index: 0;}
    }
    &:after{content: '';z-index: 0;width: 50%;height: 100%;left: 0;top: 0;background-color: rgba(0,0,0, .45);position: absolute;}
    &:before{content: '';z-index: 0;width: 50%;height: 100%;right: 0;top: 0;background-color: rgba(0,0,0, .70);position: absolute;}
    .standart-bottom{z-index: 10;}
}
/*/header and top block*/

/*header*/
$ye:#faec07;
header{min-height: 70px;padding-bottom: 30px;position: relative;z-index: 1;
    &>.mbox{text-align: center;}
    .navigation_menu{display: none;position: absolute;z-index: 15;top: 100%;width: 100%;left: 0;padding-top: 50px;
        li{padding: 39px 0px;}
        a{color: $ye;text-transform: uppercase;font-size: 16px;text-decoration: none;position: relative;display: inline-block;
            &:after{position: absolute;top: 0px;left: 0;color: white;text-transform: uppercase;font-size: 16px;content: attr(data-text);height: 0%;transition:all ease .2s;white-space: nowrap;opacity: 0;}
            &:hover{
                &:after{height: 100%;animation-name: textLeft;animation-duration: 1s;animation-iteration-count: infinite;animation-timing-function:linear;opacity: 1;}
            }
        }
    }
    @keyframes textLeft {
        0% {left: 0;}
        25% {left: -1px;}
        50% {left: 0px;}
        75% {left: 1px;}
        100% {left: 0px;}
    }
    .logo{float: left;padding-top: 7px;}
    .tel{float: right;text-align: right;padding-top: 8px;
        a{display: block;color: white;font-size: 24px;text-transform: uppercase;text-decoration: none;margin-bottom: 5px;}
        &:after{content: '';position: absolute;bottom:-5px;left: 0;width: 100%;height: 1px;background-color: #fff;z-index: 15;}
    }
    .call_tell{position: absolute;top: calc(100% + 15px);right: 0;
        a{color: $ye;font-size: 14px;text-decoration: underline;text-transform: uppercase;
            &:hover{text-decoration: none;}
        }
    }
    .menu-button{display: inline-block;width: 40px;height: 40px;position: relative;margin-top: 15px;cursor: pointer;position: absolute;left: 50%;transform: translateX(-50%);z-index: 15;
        &:after,&:before{content: '';position: absolute;left: 0;top: 20%;width: 100%;height: 2px;background-color: #fff;transition:all ease .2s;}
        &:before{top: auto;bottom: 20%;}
        span{position: absolute;left: 0;top: 48%;width: 100%;height: 2px;background-color: #fff;transition:all ease .2s;}

        &.active{
            span{opacity: 0;}
            &:after,&:before{transform: rotate(45deg);top: 44%;}
            &:before{transform: rotate(-45deg);bottom: 44%;}
        }
    }

}

/*/header*/

.button{display: inline-block;vertical-align: middle;width: 100%;max-width: 336px;height: 60px;line-height: 60px;color: white;font-weight: 700;text-transform: uppercase;text-decoration: none;border:1px solid $ye;text-align: center;font-size: 12px;position: relative;overflow: hidden;
    span{position: relative;z-index: 5;}
    &:after{position: absolute;width: 0;height: 0;transform: translate(-50%, -50%);left: 50%;top: 50%;background-color: $ye;content: '';transition: all ease-out .2s;z-index: 1;}
    &:hover{color: #868686;
        &:after{width: 98%;height: 90%;}
    }
    &:active{color: #868686;
        &:after{width: 105%;height: 105%;}
    }
}
/*top block*/
.top-block{padding-top: 133px;position: relative;z-index: 1;transition:all ease .2s;
    .item{width: 50%;float: left;position: relative;padding: 0 6%;
        &:last-child{
            .text:after{height: 93px;}
        }
    }
    .title{font-size: 36px;font-weight: 700;color: white;text-transform: uppercase;min-height: 130px;}
    .subtitle{color: $ye;font-size: 36px;text-transform: uppercase;text-align: left;font-weight: 400;
        b{font-weight: 700;font-size: 72px;}
    }
    .text{position: relative;padding-left: 20px;color: white;font-size: 18px;line-height: 21px;margin-bottom: 83px;
        p,ul{min-height: 139px;}
        &:after{position: absolute;left: 0;height: 100%;width: 1px;background-color:$ye;content: '';top: 0;left: 0;}
        li{padding-bottom: 10px;}
    }
}
/*/top block*/