<section class="advantages">

    <div class="mbox">

        <div class="title">
            <h2>приемущества холодного асфальта</h2>
        </div>

        <div class="advantages-main">

            <div class="list float-left">
                <ul>
                    <li>
                        <span class="list-num">1</span>
                        <span class="list-text">Не требует больший трудозатрат </span>
                    </li>
                    <li>
                        <span class="list-num">2</span>
                        <span class="list-text">Простой в использовании </span>
                    </li>
                    <li>
                        <span class="list-num">3</span>
                        <span class="list-text">Ремонт производится в любую погоду при температуре до -20 °C</span>
                    </li>
                </ul>
            </div>
            <div class="list float-right">
                <ul>
                    <li>
                        <span class="list-num">4</span>
                        <span class="list-text">Не нужно перекрывать дороги на длительное время, ремонт производится быстро</span>
                    </li>
                    <li>
                        <span class="list-num">5</span>
                        <span class="list-text">Сразу после ремонта по нему может двигается транспорт</span>
                    </li>
                    <li>
                        <span class="list-num">6</span>
                        <span class="list-text">Хранится на открытом воздухе 2 года, без потери качества</span>
                    </li>
                </ul>
            </div>
            <div class="advantages-img float-left">
                <img src="images/advantages-img.png" alt="" />
            </div>

        </div>

    </div>

</section>