<section class="beautification">
    <div class="back-beauty"><img src="images/beautyBG.jpg" alt=""></div>
    <div class="beauty-wrap mbox">
        <div class="beauty-align cfix">
            <div class="text-container">
                <h2>благоустройство территории</h2>
                <p><span>Это комплекс работ, которые помогут сделать вашу территорию более красивой и аккуратной, повысит экологические и санитарные условие участка.</span></p>
                <p>В комплект услуги входят:</p>
                <ul>
                    <li>разработка проекта по благоустройству</li>
                    <li>озеленение участков</li>
                    <li>асфальтирование дорог</li>
                    <li>мощение тротуара плиткой</li>
                    <li>установка бортового камня</li>
                    <li> установка ограждений</li>
                    <li>земляные работы</li>
                </ul>
            </div>
            <div class="slider-container">
                <div class="fade">
                    <div class="item"><img src="images/slide1.jpg" alt=""></div>
                    <div class="item"><img src="images/slide2.jpg" alt=""></div>
                </div>
                <div class="button-row">
                    <a href="#">Заказать благоустройство территории</a>
                </div>
            </div>
        </div>
    </div>
</section>