<section class="contacts standart" >

    <div class="standart-top"></div>

    <div class="contacts-info">

        <div class="contacts-main-wrap">
            <div class="contacts-wrap">
                <div class="contacts-title" id="contacts">Как с нами связаться?</div>
                <div class="contacts-main-info">
                    <div class="contact-adress contact-line-main">
                        <div class="contacts-icon">A</div>
                        <div class="contacts-line">
                            <p>Санкт-Петербург</p>
                            <p>ул.Корабельная, дом 5</p>
                        </div>
                    </div>
                    <div class="contact-telefone contact-line-main">
                        <div class="contacts-icon">T</div>
                        <div class="contacts-line">
                            <p>+7 (950) 014-07-72</p>
                            <p>981-67-57</p>
                        </div>
                    </div>
                    <div class="contact-email contact-line-main">
                        <div class="contacts-icon">E</div>
                        <div class="contacts-line">
                            <p>
                                <a href="mailto:info@charddevelopment.com">info@charddevelopment.com</a>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="contacts-map" id="contacts-map"></div>

</section>