<section class="contacts standart">

    <div class="standart-top"></div>

    <div class="mbox">
        <div class="contacts-info">
            <div class="contacts-title">Как с нами связаться?</div>
            <div class="contacts-main-info">
                <div class="contact-adress">
                    <p>Санкт-Петербург</p>
                    <p>ул.Корабельная, дом 5</p>
                </div>
                <div class="contact-telefone">
                    <p>+7 (950) 014-07-72</p>
                    <p>981-67-57</p>
                </div>
                <div class="contact-email">
                    <p>
                        <a href="mailto:info@charddevelopment.com">info@charddevelopment.com</a>
                    </p>
                </div>
                <div class="contacts-map" id="contacts-map"></div>
            </div>
        </div>
    </div>

</section>