<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">
    <div class="cfoot-wrap">
        <div class="mbox">
            <div class="box-2-box cfix">
                <div class="rt-box">
                    <div class="soc-box">
                        <a href="" class="fb">
                            <img src="images/fb.png" alt="">
                        </a>
                        <a href="" class="ig">
                            <img src="images/ig.png" alt="">
                        </a>
                        <a href="" class="tw">
                            <img src="images/tw.png" alt="">
                        </a>
                        <a href="" class="gp">
                            <img src="images/gp.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="lb-box">© 2015 асфальт-мастер / все права защищены</div>
            </div>
        </div>
    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>
<!-- /SCRIPTS -->
