<!-- HEADER -->
<header>
    <div class="mbox">
        <div class="logo">
            <img src="images/logo.png" alt="">
        </div>
        <div class="menu-button">
            <span></span>
        </div>
        <div class="tel">
            <a href="tel:+79500140772"><span>+7 (950) 014-07-72</span></a>
            <a href="tel:+79509816757"><span>+7 (950) 981-67-57</span></a>
        </div>

        <div class="call_tell">
            <a href="#"><span>Заказать звонок</span></a>
        </div>

        <div class="navigation_menu">
            <nav>
                <ul>
                    <li><a href="#"><span>приемущества холодного асфальта</span></a></li>
                    <li><a href="#"><span>область применения</span></a></li>
                    <li><a href="#"><span>работая с нами</span></a></li>
                    <li><a href="#"><span>благоустройство территории</span></a></li>
                    <li><a href="#"><span>услуги</span></a></li>
                    <li><a href="#"><span>контакты</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- /HEADER -->

