<section class="instructions"> <!-- standart -->

    <!-- <div class="standart-top"></div> -->

        <div class="mbox">
            <div class="list-main">
                <div class="list-wrap dots-lists">
                    <div class="title">область применения</div>
                    <div class="list">
                        <ul>
                            <li>быстрое и экономичное создание искусственных подъемов и спусков</li>
                            <li>быстрый локальный ремонт асфальтных покрытий</li>
                            <li>ремонт фундаментов зданий и сооружений в виде отмостков</li>
                            <li>ремонт подъездных участков</li>
                            <li>ремонт труднодоступных участков дорог</li>
                            <li>ремонт дорог и перекрестков с интенсивным движением</li>
                            <li>ремонт городских улиц и площадей</li>
                            <li>заделка трещин</li>
                        </ul>
                    </div>
                </div>

                <div class="list-wrap num-lists">
                    <div class="title">Инструкция по укладке холодного асфальта</div>
                    <div class="list">
                        <ul>
                            <li><span>01</span>произвести очистку выбоины от воды и грязи</li>
                            <li><span>02</span>нанести смесь прямо на поверхность, толщина слоя должна быть четверть больше глубины выбоины</li>
                            <li><span>03</span>утрамбовать смесь виброплитой или колесами автомобиля (после трамбовки слой должен выступать над поверхностью окружающего покрытия)</li>
                            <li><span>04</span>присыпать отремонтированный участок отсевом или песком</li>
                            <li><span>05</span>открыть движение по участку</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    <!-- <div class="standart-bottom"></div> -->

</section>