<section class="top-block">
    <div class="mbox">
        <div class="top-block-wrap cfix">
            <div class="item">
                <div class="title">
                    <h2>холодный асфальт</h2>
                </div>
                <div class="text">
                    <p>Инновационный материал и отличное решение для быстрого и качественного ремонта дорожных покрытий. Не требует больших трудозатрат. Ремонт производится в любую погоду при температуре до -20 °C. Сразу после ремонта по нему может двигается транспорт.</p>
                </div>
                <div class="button-item">
                    <a href="#call-popup" class="button fancybox-form">
                        <span>заказать бесплатную консультацию</span>
                    </a>
                </div>
            </div>
            <div class="item">
                <div class="title">
                    <h2>холодный асфальт</h2>
                    <div class="subtitle">
                        <b>6,3</b> руб/кг
                    </div>
                </div>
                <div class="text">
                    <ul>
                        <li><span>Производство</span></li>
                        <li><span>Продажа</span></li>
                        <li><span>Доставка</span></li>
                    </ul>
                </div>
                <div class="button-item">
                    <a href="#call-popup" class="button fancybox-form"><span>заказать холодный асфальт</span></a>
                </div>
            </div>
        </div>
    </div>
</section>