<section class="work-with-us" id="work-with-us">

    <div class="mbox">

        <div class="title">
            <h2>работая с нами</h2>
            <p>вы получите :</p>
        </div>

        <div class="work-with-us-wrap">
            <div class="work-with-us-item">
                <div class="work-with-us-item-wrap">
                    <div class="work-with-us-img">
                        <img src="images/work-with-us-img1.png" alt="" />
                    </div>
                    <div class="work-with-us-item-text">Высокое качество<br />нашей продукции</div>
                </div>
            </div>
            <div class="work-with-us-item">
                <div class="work-with-us-item-wrap">
                    <div class="work-with-us-img">
                        <img src="images/work-with-us-img2.png" alt="" />
                    </div>
                    <div class="work-with-us-item-text">100%<br />Соблюдение сроков</div>
                </div>
            </div>
            <div class="work-with-us-item">
                <div class="work-with-us-item-wrap">
                    <div class="work-with-us-img">
                        <img src="images/work-with-us-img3.png" alt="" />
                    </div>
                    <div class="work-with-us-item-text">Команда<br />профессионалов</div>
                </div>
            </div>
            <div class="work-with-us-item">
                <div class="work-with-us-item-wrap">
                    <div class="work-with-us-img">
                        <img src="images/work-with-us-img4.png" alt="" />
                    </div>
                    <div class="work-with-us-item-text">Оптимальные цены</div>
                </div>
            </div>
            <div class="work-with-us-item">
                <div class="work-with-us-item-wrap">
                    <div class="work-with-us-img">
                        <img src="images/work-with-us-img5.png" alt="" />
                    </div>
                    <div class="work-with-us-item-text">12 лет опыта</div>
                </div>
            </div>
            <div class="work-with-us-item">
                <div class="work-with-us-item-wrap">
                    <div class="work-with-us-img">
                        <img src="images/work-with-us-img6.png" alt="" />
                    </div>
                    <div class="work-with-us-item-text">Скорость принятия<br />решений</div>
                </div>
            </div>
        </div>

        <div class="work-with-us-button">
            <a href="#call-popup" class="button black-button fancybox-form">
                <span>Бесплатное составление сметы</span>
            </a>
        </div>

    </div>

</section>