@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1170px){

    /* instructions */

        .instructions{
            .list-wrap{
                &.dots-lists{padding-right: 20px;}
                &.num-lists{padding-left:20px;}
                ul{
                    li{line-height: 35px;}
                }
            }
            .list-main{
                .title{font-size: 30px;line-height: 36px;}
            }
        }

    /* /instructions */

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /* advantages */

        .advantages{
            .title{text-align: center;
                &:before{left:calc(50% - 66px);}
            }
            .list{margin: 0 auto;width: 100%;max-width: 540px;}
            .advantages-main{position:relative;}
            .float-left, .float-right{float:none;}
            .advantages-img{display: none;}
        }

    /* /advantages */

    /* instructions */

        .instructions{
            .list-main{
                &:before{display: none;}
            }
            .list-wrap{
                &.dots-lists, &.num-lists{padding-left: 0;padding-right: 0;}
            }
        }

    /* /instructions */

    /* work-with-us */

        .work-with-us{
            .title{text-align: center;
                &:before{left:calc(50% - 66px);}
            }
            .work-with-us-wrap{
                .work-with-us-item{width: 50%;
                    &:nth-child(3n+1), &:nth-child(3n){justify-content:center;}
                }
            }
        }

    /* /work-with-us */

    /* street-repairs */

        .street-repairs{
            .street-rapairs-wrap{margin-bottom: 0;
                .street-repairs-tem{padding: 0;}
            }
        }

    /* /street-repairs */

    /* contacts */

        .contacts{
            &.standart{padding: 300px 0 420px 0;}
            .contacts-info{width: 100%;justify-content:center;
                .contacts-main-wrap{min-height: 500px;
                    &:after{width: calc(100% - 30px);right: 15px;}
                }
            }
            .contacts-map{left: auto;top:auto;right:auto;bottom: auto;height: 400px;max-width: 600px;width: 100%;margin:0 auto;bottom:0;left:calc(50% - 300px);}
        }

    /* /contacts */

}
@media screen and (max-width: 767px){

    /* advantages */

        .advantages{
            .title{font-size: 26px;line-height: 32px;}
        }

    /* /advantages */

    /* work-with-us */

        .work-with-us{
            .title{font-size: 26px;line-height: 32px;
                p{font-size: 20px;line-height: 26px;}
            }
        }

    /* /work-with-us */

}
@media screen and (max-width: 666px){

    /* work-with-us */

        .work-with-us{
            .work-with-us-wrap{
                .work-with-us-item{width: 100%;}
            }
        }

    /* /work-with-us */

    /* contacts */

        .contacts{
            &:after{content:'';width: 15px;position: absolute;top:0;bottom: 0;right:0;width: 15px;z-index: 2;}
            .contacts-map{left: 0;max-width: 100%;}
        }

    /* /contacts */

}
@media screen and (max-width: 479px){

    /* advantages */

        .advantages{
            .title{font-size: 20px;line-height: 26px;}
            .list-num{font-size: 60px;width: 46px;}
            .list{
                li{margin-bottom: 10px;}
                &:last-child{
                    li{
                        &:last-child{margin-bottom: 0;}
                    }
                }
            }
        }

    /* /advantages */

    /* instructions */

        .instructions{
            .list-main{padding-top: 360px;
                .title{font-size: 22px;line-height: 30px;}
            }
            .list-wrap{
                ul{
                    li{line-height: 30px;}
                }
            }
        }

    /* /instructions */

    /* work-with-us */

        .work-with-us{
            .title{font-size: 20px;line-height: 26px;
                p{font-size: 16px;line-height: 22px;}
            }
        }

    /* /work-with-us */

    /* street-repairs */

        .street-repairs{
            .street-rapairs-wrap{
                .street-repairs-item{
                    .street-repairs-title{font-size: 26px;}
                    .street-repairds-text{font-size: 16px;line-height: 22px;}
                }
            }
        }

    /* /street-repairs */

    /* contacts */

        .contacts{
            .contacts-info{
                .contacts-title{font-size: 28px;}
                .contact-line-main{
                    .contacts-line{font-size: 16px;line-height: 22px;}
                }
            }
        }

    /* /contacts */

}
@media screen and (max-width: 320px){

}