@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    /* advantages */

        .advantages{
            .list{margin: 0 auto;width: 100%;max-width: 540px;}
            .advantages-main{position:relative;}
            .float-left, .float-right{float:none;}
            .advantages-img{display: none;}
        }

    /* /advantages */

}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){

}
@media screen and (max-width: 479px){

}
@media screen and (max-width: 320px){

}